{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <style>
      .clients{
        padding: 5px;
      }
    </style>
    <h1 align ="center">Notes</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for client in user.clients %}
      <div align="center" class = "clients">
        <button align="center" class="btn btn-primary" href="/">{{ client.name }}</button>
      </div>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
    </form>
    {% endblock %}