{% extends "base.html" %} {% block title %}Transaction{% endblock %} {% block content
    %}
    <style>
        .navbar navbar-expand-lg bg-light{
            background-color:rgb(55, 67, 83)
        }
        table {
        border-spacing: 0px;
        table-layout: auto;
        margin-left:auto;
        margin-right:auto;
        }
        th {
        color: rgb(0, 0, 0);
        text-align: center;
        border: 1px solid black;
        }
        td {
        padding: 10px;
        text-align: center;
        border: 1px solid black;
        }
        tr:nth-child(even) {background-color: #e6e4e4;}
        tr:hover {background-color: rgb(185, 212, 251);}
        .btn{margin-right: 50px;}
        .table-wrapper {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        }
        </style>

    <div class = 'container'>  
        <br></br>  
        <h1>Real Estate Data</h1>
        <br></br>
        <h2>Transactions</h2>
    </div>
    <div class="container pt-3 pb-5 content-height container-wrapper re-transaction">
        <form id="trxFilter" method="POST" action="#" novalidate class="needs-validation">
            <div class="row search-panel-wrap">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style select-control">
                        <label for="startDate">Start Date</label>
                        <input type="date" id="startDate" name="startDate"  style ="height:37.6px;width:306px;">              
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style select-control">
                        <label for="transaction_pTrxType">Transaction Type</label>
                        <select id="transaction_pTrxType" name="transaction_pTrxType" class="form-control valid-validation">
                            <option value="" selected>All</option>
                            <option value="1">Sales</option>
                            <option value="2">Mortgages</option>
                            <option value="3">Gifts</option>
                        </select>               
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style select-control">
                        <label for="transaction_pIsOffPlan">Registration type</label>
                        <select id="transaction_pIsOffPlan" name="transaction_pIsOffPlan" class="form-control valid-validation">
                            <option value="">All</option>
                            <option value="0"> Ready</option>
                            <option value="1"> Off Plan</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style">
                        <label for="transaction_pAreaId">Area</label>
                        <select id="transaction_pAreaId" name="transaction_pAreaId" class="form-control chosen-select">
                            <option value="">All</option>
                            {% for i in range(area_length) %}
                            <option value="{{area_list[i]}}">{{area_list[i]}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style">
                        <label for="transaction_pProjectId">Project</label>
                        <select id="transaction_pProjectId" name="transaction_pProjectId" class="form-control chosen-select">
                            <option value="">All</option>
                            {% for i in range(project_length) %}
                            <option value="{{project_list[i]}}">{{project_list[i]}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style select-control">
                        <label for="transaction_pUsageId">Usage</label>
                        <select id="transaction_pUsageId" name="transaction_pUsageId" class="form-control valid-validation">
                            <option value="">All</option>
                            <option value="1"> Residential</option>
                            <option value="2"> Commercial</option>
                            <option value="3"> Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style select-control">
                        <label for="transaction_pPropType">Property Type</label>
                        <select id="transaction_pPropType" name="transaction_pPropType" class="form-control valid-validation">
                            <option value="">All</option>
                            <option value="1"> Land</option>
                            <option value="2"> Building</option>
                            <option value="3"> Unit</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style">
                        <label for="transaction_pPropertysubtypeId">Property Sub Type</label>
                        <select id="transaction_pPropertysubtypeId" name="transaction_pPropertysubtypeId" class="form-control chosen-select">
                            <option value="">All</option>
                            {% for i in range(property_sub_type_length) %}
                            <option value="{{property_sub_type_list[i]}}">{{property_sub_type_list[i]}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div class="form-group field-style">
                        <label for="transaction_pRoomsId">No of Rooms</label>
                        <select id="transaction_pRoomsId" name="transaction_pRoomsId" class="form-control chosen-select">
                            <option value="">All</option>
                            {% for i in range(no_of_rooms_length) %}
                            <option value="{{no_of_rooms_list[i]}}">{{no_of_rooms_list[i]}}</option>
                            {% endfor %}
                        </select>    
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <label for="PropertySizeSqM" class = "form-label">Property Size (sq.m)</label>
                    <input type="text"  name = "PropertySizeSqM" id = "PropertySizeSqM" placeholder="00.00" style ="height:37.6px;width:306px;">
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12 mb-md-2">
                    <div>
                    <label for="PropertySizeSqFt" class="form-label">Property Size (sq.ft)</label>
                    <input type="text" name = "PropertySizeSqFt" id="PropertySizeSqFt" placeholder="00.00" style ="height:37.6px;width:306px;">
                    </div>
                </div>
                <div class="col-md-12 text-end">
                <input type="submit" class="btn btn-outline-dark" value="Submit" name = "submit">
                <input type="reset" class="btn btn-outline-dark" value="Reset">
                </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock %}
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; // January is 0
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    } 
    if (mm < 10) {
      mm = '0' + mm;
    } 
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("endDate").max = today;
    document.getElementById("startDate").max = today;
  </script>
